.listProducts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 300px;
  flex-wrap: wrap;
  margin: 40px;
  padding: 20px;
  position: relative;
  flex: 1;
}

.listContainer {
  width: 300px;
  height: max-content;
  overflow: hidden;
  box-shadow: 0px 0px 10px -5px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 2.2rem;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.listContent {
  margin: 1rem;
  margin-top: 0.5rem;
}

h3,
p {
  margin: 0;
  padding: 0;
}

.listBody .other {
  font-family: caviar dreams;
  font-weight: bold;
  margin-top: 30px;
}

.listSubmit input {
  width: 100%;
  background-color: #9a5ae4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listSubmit input:hover {
  transition: 0.7s;
  animation: ease-in;
  background-color: #440888;
}

.maxPrice {
  margin-top: 30px;
}

.fade {
  font-weight: normal;
}

input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #9a5ae4;
  border-radius: 4px;
  box-sizing: border-box;
}

.listTitle {
  margin-bottom: 2rem;
}
