@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.homeContainer {
  display: flex;
  flex-basis: 300px;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  color: white;
}

.homeContainer img {
  width: 100%;
}

.imgText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 300px;
}

.imgText h1 {
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
}

.imgText p {
  flex-wrap: wrap;
  font-size: 25px;
  font-family: caviar dreams;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 300px;
  flex-wrap: wrap;
  margin: 40px;
  padding: 20px;
}

.card-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 10px -5px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 2.2rem;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-content {
  margin: 1rem;
  margin-top: 0.5rem;
}

h3,
p {
  margin: 0;
  padding: 0;
}

.card-title {
  margin-bottom: 0.5rem;
}

.section-title-border {
  background-color: #9a5ae4;
  width: 50px;
  height: 2px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}

.iconStyle {
  font-size: 50px;
  color: #9a5ae4;
  margin-top: 10px;
}

.expected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 40px;
}

.downIcon {
  text-align: center;
}

.iconDown {
  font-size: 30px;
  color: #9a5ae4;
  margin-top: 10px;
}

@media (max-width: 900px) {
  .imgText h1{
    font-size: larger;
  }
}

@media (max-width: 500px) {
  .imgText h1{
    font-size:smaller;
  }
}