.navbar {
  height: 50px;
  background-color: #9a5ae4;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-family: chosence light;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  transition: 0.8s;
  color: rgb(252, 52, 52);
}

.navContainer .logo {
  justify-content: center;
  align-items: center;
}
.navContainer .logo b {
  color: rgb(252, 52, 52);
}
.navItems {
  display: flex;
  padding: 5 10 px;
  justify-content: space-around;
}
.navItems ul li {
  list-style: none;
  padding: 0 20px;
}

.navItems ul {
  display: flex;
  padding: 12px 16px;
  text-decoration: none;
  float: right;
}

.navContainer .search-box .iconSs {
  float: left;
  width: 40px;
  font-size: 1.3rem;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
  margin-top: -10px;
  margin-right: -10px;
}

.navbar input {
  width: 200px;
  margin-left: 30px;
}
