@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.detailContainer {
  display: flex;
  flex-basis: 300px;
  flex-wrap: wrap;
}

.dImg img {
  width: 100%;
  position: absolute;
}

.dDetails {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dDesc {
  margin-top: 200px;
  font-family: caviar dreams;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

.dDesc p {
  margin: 10px;
}

.banner .rules {
  background-color: white;
  border-radius: 3px;
  -webkit-box-shadow: -9px 12px 21px -4px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: -9px 12px 21px -4px rgba(0, 0, 0, 0.71);
  box-shadow: -9px 12px 21px -4px rgba(0, 0, 0, 0.71);
}

.rules h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.rules ul li {
  list-style: none;
  padding: 5px;
  font-family: caviar dreams;
}

.banner {
  border: none;
  background-color: white;
  margin-bottom: 2.2rem;
  -webkit-box-shadow: -9px 12px 21px -4px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: -9px 12px 21px -4px rgba(0, 0, 0, 0.71);
  box-shadow: -9px 12px 21px -4px rgba(0, 0, 0, 0.71);
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  position: relative;
  margin: 150px;
}

.dTicketBuy input {
  background-color: #9a5ae4;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dTicketBuy input:hover {
  transition: 0.7s;
  animation: ease-in;
  background-color: #440888;
}
